<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
		<title>reddit reader</title>
		<link rel="stylesheet" href="css/resume.css">
		<link rel="stylesheet" href="css/materialize.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<script src="js/angular.min.js"></script>
	</head>

	<body ng-app="myApp" ng-controller="MainController">

		<input type="text" name="subreddit" ng-model="subreddit">
		<button ng-click="getSubreddit(subreddit)">Get the sub!</button>

		<section class="container">
			<div class="card hoverable" ng-repeat="post in content.data.children">
				<h3>{{ post.title }}</h3>
			</div>
		</section>


		<!-- Materialize's JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

		<!-- Modules -->
		<script src="js/app.js"></script>

		<!-- Controllers -->
		<script src="js/controllers/RedditController.js"></script>
	</body>
</html>